body {
  font-family: Arial, sans-serif;
  width: 350px;
  padding: 10px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

button {
  position: relative;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  color: #262626;
  text-decoration: none;
  border: 1px solid #5A5C26;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  transform: translateY(-0.15em);
  color: #A3D9A5;
  background-color: #F9F9F9;
}

#sentiment {
  position: relative;
  margin-bottom: 10px;
  color: #262626;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  background: #f1f1f1;
  padding: 5px;
  border-radius: 3px;
}

.sentiment {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
  font-size: 12px;
}

/* positive */
.sentiment.positive {
  color: white;
  background-color: #04AA6D;
}

/* negative */
.sentiment.negative {
  color: white;
  background-color: #f44336;
}

/* neutral */
.sentiment.neutral {
  color: white;
  background-color: #2196F3;
}

/* poll */
.poll{
  margin-top: 20px;
  width: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(35, 30, 128, 0.05);
}

.poll .question{
  padding: 20px;
  color: #111;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}
.poll .answers{
  padding: 20px;
}
.poll .answers .answer {
  position: relative;
  width: 80%;
  height: 40px;
  padding: 0px 10px;
  line-height: 40px;
  color: #111;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.poll .answers .answer.selected{
  border: 2px solid #8f9fe8;
}
