@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    
}
.SDG-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;


}
main .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
main .column img{
    width: 80%;
    max-width: unset;
}


h1 {
    text-align: center;
    background-color: #254D70;
    color: white;
    padding: 15px;
    border: 5px solid black;
}
h3{
    text-align: center;

}

img {
    max-width: 40%;
    height: auto;
}

body {
    background-color: aqua;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0;
}

nav a {
    padding: 10px;
    width: auto;
    margin: 5px;
    display: inline-block;
    background-color: #254D70;
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav li {
    display: block;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
}
.info h3 {
    position: relative;
    text-align: center;
}
.h3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start; 
}

.info p {
    position: relative;
    text-align: center;
}

.about {
    background-color: white;
}

.faqs {
    background-color: white;
    padding: 10px;
}

.research {
    text-align: center;
}

.podcasts {
    text-align: center;
}
